<app-header></app-header>
<div class="container mt-50">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>

                </div>
                <div class="panel-body">
                    <router-outlet></router-outlet>

                </div>
            </div>
        </div>
    </div>
</div>
<hr/>
<h1>Footer</h1>

<div class="container mt-50">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <!-- <app-color-picker (outColor)="getColor($event)"></app-color-picker> -->

            <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <app-size-setting [size]="fontSizeDefault" (outSize)="getOutSize($event)"></app-size-setting>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p>Color : {{colorDefault }} - Fontsize : {{fontSizeDefault}}</p>
                <app-result [color]="colorDefault" [size]="fontSizeDefault"></app-result>
                <button class="btn btn-warning">check</button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <app-reset (OutColor)="getReColor($event)" [inColor]="colorDefault" [inSize]="fontSizeDefault" (OutSize)="getResize($event)"></app-reset>
            </div> -->
        </div>
    </div>
</div>
<div>

</div>